.wtw {
  line-height: initial;
  scale: initial;
}
// from codepen

$bp-md: 760px;

// fukol
.flex {
  display: flex;
  /* 1 */
  flex-wrap: wrap;
  /* 2 */
  margin: -0.5em;
  /* 5 (edit me!) */
}

.flex>* {
  flex: 1 0 240px;
  /* 3 (edit me!) */
  margin: 0.5em;
  /* 4 (edit me!) */
}

// end fukol

.grid {
  display: flex;
  flex-wrap: wrap;
  display: grid;

  --gtcx: 240px;
  --gtc: repeat(auto-fit, minmax(var(--gtcx), 1fr));
  grid-template-columns: var(--gtc);
  
  --gg: 1vh 2.5vw;
  grid-gap: var(--gg);
  
  grid-auto-flow: dense;
}

.grid>* {
  --gce: span 1;
  grid-column-end: var(--gce);
  --gre: span 1;
  grid-row-end: var(--gre);
  --fb: var(--gtcx);
  flex-basis: var(fb);
}

.grid>.full {
  flex-basis: 100%;
  grid-column: 1 / -1;
}

@media (min-width: $bp-md) {
  .grid {
    --cols: 1;
    --gtc: repeat(var(--cols), [col] 1fr);
  }

  /* rows */
  .grid > * {
    --rspan: 1;
    flex: var(--rspan);
    --gre: span var(--rspan);

    --cspan: 1;
    flex: var(--cspan);
    --gce: span var(--cspan);

    --gcs: auto;
    grid-column-start: var(--gcs);

  }

  // /* rows */
  // .grid .rx {
  //   --rspan: 1;
  //   flex: var(--rspan);
  //   --gre: span var(--rspan);
  // }

  // /* columns */
  // .grid .cl {
  //   --cspan: 1;
  //   flex: var(--cspan);
  //   --gce: span var(--cspan);
  // }

  .wtw {
    will-change: initial;
  }
}