<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title testing new grid (jade)
        link(rel="stylesheet", href="css/grid.css")
    body
        main
            section#overview
                div.cn.grid
                    .hd.full
                        h1 testing new grid
                        h3 and now another change to git ??
                    .blurb(style="--cspan: 8")
                        p well did this work then ??
                    .monitor-pic(style="--cspan: 4")
                        p {{ monitor pic }}
                    .ft.full
                        p footer